<div class="forgot-password-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div
                class="trinta-form ml-auto mr-auto bg-white border-radius"
            >
                <div class="title text-center">
                    <h3>
                        Olvidé mi contraseña
                    </h3>
                    <p class="text-black fs-15">
                        Ingresa el email con el que inicias sesión. Se te enviará un correo electrónico de recuperación si es un email registrado.
                    </p>
                </div>
                <form>
                    <div class="form-group">
                        <label class="label d-block fw-medium">
                            Email 
                        </label>
                        <mat-form-field>
                            <i-feather name="mail"></i-feather>
                            <mat-label>Ingresa el email</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <button mat-button type="submit">
                        Enviar
                    </button>
                    <div class="text-center">
                        <a routerLink="/authentication" class="text-primary">
                            Volver al login
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>