<mat-card class="trinta-card course-details-card mb-25 bg-dark border-none d-block">

    <mat-card-content>
        <div class="top  justify-content-between">
            <h3 class="mb-0 text-white">
                VANESSA HERNANDEZ BENITEZ
            </h3>


            <p class="mt-20">
                Descripción de la Visita.
            </p>

            <div class="d-flex justify-content-between">


                <div class="d-flex">
                    <div class="d-grid text-white mr-15">
                        <h6 class="text-white">Servicios a verificar</h6>
                        22
                    </div>
                    <div class="d-grid text-white mr-15">
                        <h6 class="text-white">Estado</h6>
                        EN PROCESO
                    </div>
                </div>
            </div>

        </div>

        <button class="mainPageButton" (click)="openSeparateDialog()" mat-raised-button mat-button color="accent">VERIFICAR CRITERIO</button>
    </mat-card-content>

</mat-card>

<mat-card class="trinta-card contacts-card mb-25 bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h4 class="mt-0 mb-0">
                Criterios diligenciados / separados
            </h4>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Listado de Criterios.</p>

        <mat-form-field>
            <i-feather name="search"></i-feather>
            <mat-label>Buscar un Criterio</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Puedes buscar por texto o consecutivo..." #input>
        </mat-form-field>

        <div class="contacts-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" multiTemplateDataRows>

                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 text-primary">
                            Indice
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0 text-primary">
                            <a>{{element.index}}</a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef>
                            Descripción del Criterio
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.description}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="creator">
                        <th mat-header-cell *matHeaderCellDef>
                            Verificado / Separado por
                        </th>
                        <td mat-cell *matCellDef="let element">
                            Valeria Pazmiño
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="subgroup">
                        <th mat-header-cell *matHeaderCellDef>
                            Subgrupo
                        </th>
                        <td mat-cell *matCellDef="let element">
                            Consulta Ext. Gral.
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="standard">
                        <th mat-header-cell *matHeaderCellDef>
                            Estandar
                        </th>
                        <td mat-cell *matCellDef="let element">
                            Talento Humano
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="declaredServices">
                        <th mat-header-cell *matHeaderCellDef>
                            Serv. Declarados
                        </th>
                        <td mat-cell *matCellDef="let element">
                            - Servicio 1
                            <br>
                            - Servicio 2
                            <br>
                            - Servicio 3
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="nonDeclaredServices">
                        <th mat-header-cell *matHeaderCellDef>
                            Serv. NO Declarados
                        </th>
                        <td mat-cell *matCellDef="let element">
                            - Servicio 17
                            <br>
                            - Servicio 5
                        </td>
                    </ng-container>




                    <ng-container matColumnDef="state">
                        <th mat-header-cell *matHeaderCellDef>
                            Estado
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="trinta-badge fw-medium d-inline-block" *ngIf="element.state === 'active'">
                                VERIFICADO
                            </span>
                            <span class="trinta-badge deactive fw-medium d-inline-block" *ngIf="element.state !== 'active'">
                                PENDIENTE
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef class="text-end pr-0">
                            Acciones
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-end pr-0">
                            <button (click)="openVerifyeDialog(1)" type="button" mat-button class="p-0 min-w-auto lh-1 h-auto">
                                <i class="ri-edit-line"></i>
                            </button>
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <!--                     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
                        [class.example-expanded-row]="expandedElement === row">
                    </tr>

                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 12, 16]"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>


<router-outlet />