<mat-card class="trinta-card contacts-card mb-25 bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h4 class="mt-0 mb-0">
                Revisión de Documentos: COMUNICADO DE VISITA
            </h4>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Listado de Documentos pendientes por aprobar.</p>
        <div class="contacts-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">

                    <!-- ID Column -->
                    <ng-container matColumnDef="prestador">
                        <th mat-header-cell *matHeaderCellDef class="pl-0 text-primary">
                            Prestador
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0 text-primary">
                            {{element.prestador}}
                        </td>
                    </ng-container>

                    <!-- User Column -->
                    <ng-container matColumnDef="visitdate">
                        <th mat-header-cell *matHeaderCellDef>
                            Fecha de Visita
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.visitdate}}
                        </td>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="lead">
                        <th mat-header-cell *matHeaderCellDef>
                            Lider que Configura
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.lead}}
                        </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="state">
                        <th mat-header-cell *matHeaderCellDef>
                            Estado
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="trinta-badge fw-medium d-inline-block" 
                                *ngIf="element.state.name === 'approved'">
                                APROBADA
                            </span>
                            <span class="trinta-badge fw-medium deactive d-inline-block"
                                *ngIf="element.state.name === 'rejected'">
                                RECHAZADA
                            </span>
                            <span class="trinta-badge fw-medium converted d-inline-block"
                                *ngIf="element.state.name === 'pending'">
                                PENDIENTE
                            </span>

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef>
                            Email Prestador
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.email}}
                        </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef class="text-end pr-0">
                            Acciones
                        </th>
                        <td mat-cell *matCellDef="let element" (click)="openCompleteDialog(element)" class="text-end pr-0">
                            <button mat-flat-button extended color="primary">
                                <mat-icon>visibility</mat-icon>
                                VER
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 12, 16]"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
<router-outlet />