.tableContainer {
  position: relative;
}

.actionsbutton {
  transform: scale(0.7);
}

.mainPageButton {
  margin-bottom: 20px;
}

.filterHeaderContainer {
  margin-bottom: 20px;
}

.filterActionbutton {
  margin-top: 9px;
}

.flexi {
  display: flex;
  align-items: center;
}

.mauto {
  margin: auto;
}

.trinta-badge {
  background-color: #d9ffd8;
  color: #28c76f;
  padding: 0.4rem 0.8rem;
  border-radius: 2px;
  white-space: nowrap;
  
  &.deactive {
    background-color: #ffb4b4;
    color: #ea5455;
  }
}

.centered {
  text-align: center;
}

.avatarElement {
  width: 36px;
  height: 36px;
  margin-right: 5px;
}

.bg-a { background-color: #7367f0; }
.bg-b { background-color: #28c76f; }
.bg-c { background-color: #e83e8c; }
.bg-d { background-color: #ff9f43; }
.bg-e { background-color: #00cfe8; }
.bg-f { background-color: #ea5455; }
.bg-g { background-color: #a8a9ad; }
.bg-h { background-color: #5a8dee; }
.bg-i { background-color: #39da8a; }
.bg-j { background-color: #fdac41; }
.bg-k { background-color: #704fff; }
.bg-l { background-color: #39da8a; }
.bg-m { background-color: #ff9f43; }
.bg-n { background-color: #e83e8c; }
.bg-o { background-color: #00cfe8; }
.bg-p { background-color: #ea5455; }
.bg-q { background-color: #7367f0; }
.bg-r { background-color: #28c76f; }
.bg-s { background-color: #e83e8c; }
.bg-t { background-color: #ff9f43; }
.bg-u { background-color: #00cfe8; }
.bg-v { background-color: #ea5455; }
.bg-w { background-color: #a8a9ad; }
.bg-x { background-color: #5a8dee; }
.bg-y { background-color: #39da8a; }
.bg-z { background-color: #fdac41; }

.successButton {
  background-color: #28c76f;
  color: white;
}

.infoButton {
  background-color: #00cfe8;
  color: white;
}

.dangerbutton {
  background-color: #ea5455;
  color: white;
} 